:root {
  --black: #141414;
  --white: #eef0f2;
  --yellow: #eec643;
  --green: #419d78;
  --gray: #BEBFC6;
  --gray-dark: #A8A9B3;

  background-color: var(--black);
  color: var(--white);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
